body{
    margin: 0;
    background-color: darksalmon;
    font-family: sans-serif;
}

h1, h2{
    text-align: center;
}

h2{
    color: #70251f;
}

nav a{
    text-decoration: none;
    color: white;
    background-color: red;
    border-radius: 10px;
    padding: 10px;
    text-align: left
}

main p{
    font-size: 30px
}

header p{
    color: #f54542;
}

nav{
    border: 1px solid grey;
    padding: 15px;
    text-align: center;
}

footer p{
    font-size: 20px
}

footer a{
    margin: 10px
}

.restoran{
    font-size: 30px;
    color: #208013
}

.presentation{
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 10px;
}
